
  /* Estilo do body para centralizar o conteúdo */
.body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/image/bg-login.jpg');
    font-family: 'Arial', sans-serif;
  }
  
  /* Centraliza a caixa de login */
  .login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  
  .login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-container input:focus {
    outline: none;
    border-color: #cc6402;
    box-shadow: 0 0 5px rgba(182, 124, 0, 0.5);
  }
  
  .login-container button {
    padding: 10px;
    background-color: #eb8602;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #b36500;
  }
  
  .login-container p {
    margin-top: -15px;
    margin-bottom: 20px;
    color: red;
    font-size: 14px;
  }